body {
    background: #1d2021;
}

header {
    color: #d4be98;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-family: 'courier';
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #d4be98;
    text-align: center;
    width: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #7daea3;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    font-family: 'Courier New', Courier, monospace;
}
