h1.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'courier new';
}

h2.title {
    height: 5vh;
    display: flex;
    justify-content: center;
    font-family: 'courier new';
}

.image-container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    position: relative;
}

.portrait-image-container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    position: relative;
}

.second-portrait {
    position: absolute;
    top: 0;
    right: 0;
}


.image-container img {
    width: 100%;
    height: 100%;
}

.portrait-image-container img {
    width: 45%;
    height: 100%;
}

.caption {
    font-family: 'courier new';
    font-size: 1rem;
    text-align: center;
}

